<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <variable name="myvar" value="myvalue"/>
  <targets>
    <target name="logfile" xsi:type="File" fileName="./logs/${shortdate}.log" />
    <target name="separatedlogfile" xsi:type="File" fileName="./logs/Log_1.log" />
    <target name="TcpOutlet" xsi:type="NLogViewer" address="tcp4://localhost:4505" />
    <target name="debugger" xsi:type="Debugger" layout="${level} => ${logger} => ${message}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="separatedlogfile" />
    <logger name="*" minlevel="Trace" writeTo="TcpOutlet" />
    <logger name="*" minlevel="Trace" writeTo="debugger" />
  </rules>
</nlog>
